@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Crea tu catalogo de videojuegos</h1>
    <p>Conoce más acerca de los videojuegos más famosos de la actualidad</a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
