html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    color: blue;
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 5px;
    text-transform: capitalize;
    text-align: left;
    text-indent: 30px;
}